################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/openapiintegration/.vs/openapiintegration/FileContentIndex
/openapiintegration/bin/Debug/net7.0
/openapiintegration/obj
